body {
    font-family: Roboto, sans-serif;
    background: #ffffff;
    color: #434455;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
        
}

a {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    list-style: none;
}

address {
    font-style: normal;
    
}

button {
    font-family: inherit;
    cursor: pointer;
}
