.portfolio {
    background: #2e2f42;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    
}

.portfolio-item {
    background: #fff;
    width: 360px;
    height: 420px;
    min-width: 288px;
    max-width: 360px;
    min-height: 360px;
    max-height: 420px;
    border: 1px solid #e7e9fc;
    box-sizing: border-box;
}

.portfolio-item-image {
    margin-bottom: 32px;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-left: 16px;
    margin-bottom: 8px;
}

.portfolio-item-position {
    width: calc((100% - 24px*5)/6);
    margin-left: 16px;
}